{% extends "base.html" %}

{% block title %}Password reset | {% endblock %}

{% block content %}

    {% if validlink %}

      <form action="" method="post" class="form-signin" role="form" >
        {% csrf_token %}
        <h3 class="form-signin-heading">Enter new password</h3>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        
        {{ form.new_password1.errors }}
        <input id="id_new_password1" name="new_password1" type="password" 
               class="form-control" placeholder="New password" 
               required autofocus>
        
        {{ form.new_password2.errors }}
        <input id="id_new_password2" name="new_password2" type="password"
               class="form-control" placeholder="Confirm password" required>
        
        <button class="btn btn-lg btn-warning btn-block" type="submit">
          Submit</button>
      </form>

    {% else %}

      <h3>Enter new password</h3>
      <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

    {% endif %}

{% endblock %}
